<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Key" value="qawsedrftgyhujik" />
    <add key="Vector" value="1!2@3#4$5%6^7?8*" />
    <add key="ApiUrl" value="http://localhost:54147/Handlers/ERemote.ashx" />
	  <!-- http://eremote.beansnow.com/Handlers/ERemote.ashx -->
    <!-- http://localhost:54147/Handlers/ERemote.ashx -->	
    <!-- http://eremy.azurewebsites.net/Handlers/ERemote.ashx -->    
    <add key="ListeningPort" value="15496"/>
    <add key="WaitTimeoutMSecs" value="240000" />    
    <add key="MonitorHTTPS" value="true" />
    <add key="SystemProxy" value="false" />
    <add key="Routes" value="..\..\Routes.json" />
    <add key="EnableForbiden" value="true" />
    <add key="EnableSelectiveProxy" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
