<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40-Client" />
  <package id="Autofac.Extras.RegistrationAttributes" version="0.0.1" targetFramework="net40-Client" />
  <package id="Autofac.Mvc4" version="3.1.0" targetFramework="net40-Client" />
  <package id="Autofac.SignalR" version="3.0.2" targetFramework="net40-Client" />
  <package id="Autofac.WebApi" version="3.1.0" targetFramework="net40-Client" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net40-Client" />
</packages>